---
// Supports weights 400-700
import "@fontsource-variable/expletus-sans";
// Supports weights 100-900
import "@fontsource-variable/exo-2";
import PageDirectory from "../../components/PageDirectory";
import SearchBar from "../../components/SearchBar";
import MainPage from "../../components/MainPage.astro";
import "../../styles/mdx.css";

import "../../styles/projects.css"
const projects = await Astro.glob("./*.mdx");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Database | Thomas Lower</title>
  </head>
  <body>
    <MainPage title="Project Database" smallNavBar={true} />
      <div
        id="page-container"
      >
        <div id="search-bar-container">
          <SearchBar client:load projects={projects} hasLogo={true} />
        </div>
        <div id="search-results-container">
          <PageDirectory projects={projects} fullSize hasLogo client:load />
        </div>
      </div>
  </body>
</html>
