---
import "@fontsource-variable/expletus-sans";
import "@fontsource-variable/exo-2";
import "../styles/mdx.css";
import PageDirectory from "../components/PageDirectory.astro";
import PageHeadings from "../components/PageHeadings.astro";
import SearchBar from "../components/SearchBar";
import Navbar from "../components/Navbar.astro";
const { frontmatter, headings } = Astro.props;
let projects;
if (frontmatter.url.includes("guides")) {
  projects = await Astro.glob("../pages/guides/*.mdx");
} else if (frontmatter.url.includes("projects")) {
  projects = await Astro.glob("../pages/projects/*.mdx");
} else {
  projects = await Astro.glob("../pages/tasks/*.mdx");
}
let hasLogo = frontmatter.logo !== undefined;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title + " | Thomas Lower Database Portfolio"}</title>
  </head>
  <body>
    <PageDirectory
      projects={projects}
      attachedToSearch={false}
      hasLogo={hasLogo}
    />
    <PageHeadings headings={headings} />
    <div
      class="resize"
      style="border-color: #ffffff; border-width: 1px;border-style: solid;position: fixed; top: 0vh; height: 5vh; background-color: #000000; color: #ffffff; z-index: 200; justify-content: space-around; display: flex; flex-direction: column; align-items: center;"
    >
      <Navbar />
    </div>
    <div
      class="resize"
      style="border-color: #ffffff; border-width: 1px;border-style: solid;position: absolute; top: 5vh; height: 10vh; background-color: #000000; color: #ffffff; z-index: 100; padding-top: 5vh;"
    >
      <SearchBar client:load projects={projects} hasLogo={hasLogo} />
    </div>
    <main
      class="resize resize2"
      style="border-style: solid;position: absolute; top: 20vh; min-height: 69.8vh; background-color: #000000; color: #ffffff;border-color: #ffffff; border-width: 1px; padding:0; padding-bottom: 10vh; overflow-y: auto;"
    >
      <div style="padding-left: 10%; padding-right: 10%;">
        <slot />
        <div
          style="width: 100%;display: flex; flex-direction: row; align-items: start; justify-content: center; margin-top: 5%; flex-wrap:wrap;"
        >
          {
            frontmatter.tags &&
              frontmatter.tags.map((tag: string) => (
                <a
                  style="margin: 0px; padding: 0px; margin-left:10px"
                  href={frontmatter.slug}
                >
                  #{tag}
                </a>
              ))
          }
        </div>
      </div>
    </main>
  </body>
</html>
